header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Canh giữa theo chiều dọc */
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#name {
    order: -1; /* Đặt phần tử "Viet Nguyen" ở đầu tiên */
    margin-right: auto; /* Kéo "Viet Nguyen" về bên trái */
}

.menu {
    display: flex;
}

header h2 {
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0 10px; /* Thêm padding để tạo khoảng cách giữa các phần tử */
}
#linkAbout:hover{
    cursor: pointer;
    text-decoration: underline;
    color: chocolate;
    
}
#linkContact:hover{
    cursor: pointer;
    text-decoration: underline;
    color: chocolate;
}
#linkEdu:hover{
    cursor: pointer;
    text-decoration: underline;
    color: chocolate;
}
#linkExp:hover{
    cursor: pointer;
    text-decoration: underline;
    color: chocolate;
}
#linkSkills:hover{
    cursor: pointer;
    text-decoration: underline;
    color: chocolate;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 100px;
    background-color:whitesmoke;
}
.container{
    display: flex;
    
}
#Image{
    display: block;
    margin: 7% 20% 0% 0%;
    position: fixed;
    top: 13%; 
    z-index: 100;
    background-color: #ffffff; /* Màu nền của khung */
    box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.2);
    width: 15%;
    height: 40%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
#Image div{
    text-align: left;
    padding-left: 20%;
    margin-bottom: 10%;
}

#Image a{
    padding-left: 7%;
    font-size: 18px;
}
#info{
    display: block;
    margin: 3% 18% 1% 0%;
    margin-left: 23%;
}

#about, #skills, #Contact,#education,#experience, #project{ 
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1% 10% 3% 5%;
    background-color: #ffffff; /* Màu nền của khung */
    box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.2);
    width: 115%;
    
}


.contain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;

}
#Bio{
    display: block;
    margin-left: 2%;
}
#Bio h4{
    font-weight: lighter;
}
#Bio h3{
    display: inline;
}
#ab{
    display: block;
    border-right: 1px solid black;
    padding-right: 30px;
}
#info h1{
    text-align: center;
}

#skills h4{
    font-weight: lighter;
}

#project h3{
    
    font-weight: lighter;
}
footer{
    text-align: center;
    color: gray;
    border-top: 1px solid black;
    padding-top: 20px;
    margin-top: 40px;
}
